.container
  .row
    .col-md-4
      %h2
        Edit #{resource_name.to_s.humanize}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
        %div
          = f.label :first_name
          %br/
          = f.text_field :first_name, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :last_name
          %br/
          = f.text_field :last_name, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :address
          %br/
          = f.text_field :address, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :city
          %br/
          = f.text_field :city, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :state
          %br/
          = f.text_field :state, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :zip
          %br/
          = f.text_field :zip, autofocus: true, class:"form-control"
        .form-group
        %div
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class:"form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
        %div
          = f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, autocomplete: "off", class:"form-control"
        .form-group
        %div
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class:"form-control"
        .form-group
        %div
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "off", class:"form-control"
        %div= f.submit "Update"
      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back
