.container
  .row
    .col-md-3
      .page-header
        %h1= t ".title", default: "Sign Up"
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-user"}) do |f|
        = devise_error_messages!
        .form-group
          = f.label :first_name, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :first_name, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :last_name, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :last_name, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :address, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :address, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :city, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :city, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :state, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :state, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :zip, class: "control-label col-md-4"
          .col-md-8
            = f.text_field :zip, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :email, class: "control-label col-md-4"
          .col-md-8
            = f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"}
        .form-group
          = f.label :password, class: "control-label col-md-4"
          .col-md-8
            = f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"}
        .form-group
          = f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4"
          .col-md-8
            = f.password_field :password_confirmation, class: "text-field form-control", html: {autocomplete: "off"}
        .form-group
          .col-md-offset-4.col-md-8
            = f.submit "Sign Up", class: "btn btn-primary"
        .form-group
          .col-md-offset-4.col-md-8
            = render "devise/shared/links"
