
- @products.each do |product|
  %h1
    = link_to product.name, product_info_url
  %br/
  %p.text-info
    = product.description
  %br/
  .pictures
    - product.pictures.each do |picture|
      .single-item
        = image_tag picture.product_image.url(:medium)
  %br/
