
.container
  .row
    .col-md-4
      - if signed_in?
        = render 'product_info'
      - else
        .container.margin-top-10em
          .buttons
            = link_to 'Sign In', new_user_session_url, class:"btn btn-primary btn-lg btn-block"
            %br/
          .buttons
            = link_to 'Sign Up', new_user_registration_url, class:"btn btn-primary btn-lg btn-block"
