@import "bootstrap_configuration";

@import "bootstrap";


.buttons {
  margin: 10px 10px 0px 10px;
}

.btn.btn-primary.btn-lg.btn-block {
  color: #fff;
  text-decoration:none;
}

.btn.btn-primary {
  color:#fff;
  text-decoration:none;
}

.margin-top-10em {
  margin-top:10em;
}

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}
