.container
  .row
    .col-md-4
      - @products.each do |product|
        %h1.text-center
          = product.name
        %br/
        %p.text-info
          = product.description
        %br/
        .buttons
          = link_to "More Info", product_url(product.id), class: "btn btn-primary"
        %br/
        .pictures
          - product.pictures.each do |picture|
            .single-item
              = image_tag picture.product_image.url(:medium)
        %br/
