.container
  .row
    .col-md-4
      %h1
        = @product.name
      %h5
        Price:
        - @product.product_options.each do |product_option|
          = number_to_currency product_option.price
          per
          = product_option.weight.name
          %br/
      = @product.description
      .pictures
        - @product.pictures.each do |picture|
          .sngle-item
            = image_tag picture.product_image.url(:medium)
